* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: rgb(125,172,222);
  background: -webkit-linear-gradient(45deg, rgba(125,172,222,1) 0%, rgba(100,110,147,1) 37%, rgba(146,109,184,1) 74%, rgba(129,66,185,1) 86%, rgba(115,158,204,1) 100%);
  background: linear-gradient(45deg, rgba(125,172,222,1) 0%, rgba(100,110,147,1) 37%, rgba(146,109,184,1) 74%, rgba(129,66,185,1) 86%, rgba(115,158,204,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  padding-bottom: 3rem;
}

.producer-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 450px;
  transform: translate(-50%, -50%);
  border: medium solid rgb(255, 255, 255);
  border-radius: 50%;
  padding: 7px;
  box-sizing: border-box;
}

.producer-logo {
  position: fixed;
  top: 5%;
  left: 3%;
  width: 270px;
  height: 77px;
  max-width: 100%;
}

.container {
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  border: 2px solid rgb(156, 217, 255);
}

.rooms {
  position: absolute;
  top: 50%;
  left: 1.1%;
  transform: translateY(-50%);
}

.room {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.room button {
  background-color: rgba(255, 255, 255, 0.539);
  font-family: 'Ubuntu', sans-serif;
  border: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 0;
  width: 380px;
  height: 55px;
  font-weight: bold;
}


.room button:hover {
  background-color: rgba(41, 0, 66, 0.8);
}

/* Rooms css */

.p-rooms {
  position: relative;
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
}

.p-rooms button {
  width: 300px;
  height: 30vh;
  background-color: rgba(255, 255, 255, 0.539);
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.466);
  border:none;
  padding: 20px;
  margin-right: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  transition: transform 0.3s ease-in-out;
  color: rgb(255, 255, 255); 
  font-weight: bold; 
  font-size: 35px; 
  font-family: Arial, sans-serif;
  align-items: center;
  justify-content: center;
}

.p-room button:hover {
  background-color: rgba(41, 0, 66, 0.8);
}

.addition {
  text-align: right;
  margin-right: 50px;
  margin-top: -10px;
}

#addButton {
  width: 170px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.539);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.466);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 19px;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

#addButton:hover {
  background-color: rgba(41, 0, 66, 0.8); 
}
.p-room .delete-button {
  width: 35px;
  height: 35px;
  font-size: 16px;
   position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.p-room .delete-button:hover{
  background-color: rgba(98, 2, 2, 0.8); 
}

.room-buttons {
  position: relative;
}

.delete-button {
  position: absolute;
  top: 0px !important;
  right: 6px !important;
}

#addDevice{
  width: 170px;
  height: 50px;
  background-color: #ffffffe5;
  border: none;
  float: right;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.466);
  color: black;
  font-weight: bold;
  margin-right: 130px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  cursor: pointer;
}




#popupContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.466);
}

#popup h2 {
  margin-bottom: 30px;
  font-size: 35px;
}

#roomForm label {
  display: block;
  margin-bottom: 5px;
}

#roomForm input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
#popup button {
  margin-right: 10px; 
  margin-bottom: 10px; 
}
#roomForm button {
  width: 100px; 
  height: 40px;
  background-color: #ffffffe5;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

#roomForm button:hover {
  background-color: #f0f0f0;
}

#popup button:last-child {
  margin-top: 10px;
}

#roomForm button.Cancel {
  background-color: red;
  color: white;
  display: inline-block;
  margin-right: 5px;
}

#roomForm button.Add {
  background-color: green;
  color: white;
  display: inline-block;
}

select {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}


option {
  font-size: 14px;
  color: #555;
}

#devicePopup label {
  display: block;
  margin-bottom: 5px;
}

#devicePopup select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}

#devicePopup .btns { 
  display: flex; 
  justify-content: space-between; 
}

#devicePopup button {
  width: 48%; 
  height: 40px;
  background-color: #ffffffe5;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

#devicePopup button:hover {
  background-color: #f0f0f0;
}

#devicePopup button#cancel {
  background-color: red;
  color: white;
}

#devicePopup button#submit {
  background-color: green;
  color: white;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
}

.device-box {
  width: 150px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.device-info {
  margin-left: 10px;
}

.device-info p {
  margin: 0;
}






.logout-container {
  position: fixed;
  bottom: 100px;
  left: 1.1%;
}

.logout-btn {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 24px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 14px 14px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 0;
  width: 150px;
  text-align: center;
}

.logout-btn:hover {
  background-color: rgba(41, 0, 66, 0.8);
}

.goBack {
  background-color: rgba(255, 255, 255, 0.885);
  display: flex;
  top: 15px;
  left: 20px;
  flex-direction: row;

  color: black;
  height: 40px;
  position: absolute;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.goBack>p {
  font-size: 14px;
  margin: auto;
  margin-right: 1.2rem;
}

.goBack>img {
  margin: auto;
  padding: 5px;
}

h1 {
  color: white;
  text-align: center;
  text-emphasis: none;
  margin-top: 2rem;
  padding-bottom: 2rem;
  font-size: 30px;
  justify-content: center;
  letter-spacing: 1.4px;

}

/* Circular buttons */
.right-column {
  position: absolute;
  top: 56%;
  right: 7%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.left-column {
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.circular-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

.circular-button span {
  color: #ffffff;
  position: absolute;
  font-size: 18px;
  top: 97px;
} 

.btn-on {
  background-color: rgba(41, 0, 66, 0.8);
} 

.button-icon {
  width: 40px;
  height: 40px;
}


/* Mobile friendly */

@media only screen and (max-width: 992px) {
  .producer-image {
    width: -webkit-fill-available;
    height: max-content;
    top: 53%;
}

  .producer-logo {
    width: auto;
    max-width: 100%;
    margin: 50px;
    top: auto;
  }

  .container {
    margin: auto;
  }

  .circular-button span {
    color: #ffffff;
    position: absolute;
    font-size: 18px;
    top: 62px;
  } 
  

  .rooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 78%;
    gap: 10px;
  }

  .room {
    width: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .room button {
    width: auto;
    max-width: 400px;
    margin-bottom: 10px;
    border-radius: 50px;
    position: inherit;
  }

  .room#Devices button {
    border-radius: 50px;
  }
  
  .room#kitchen button,
  .room#bedroom button {
    border-radius: 50px;
  }

  .logout-container,
  .login-container {
    margin-top: 20px;
    margin-bottom: 120px;
    position: absolute;
    top: 89%;
    left: 9%;
  }
  
  .logout-btn,
  .login-btn {
    border-radius: 50px;
    width: auto;
    font: -webkit-small-control;
  }
  
  .right-column {
    display: -webkit-inline-box;
    position: absolute;
    top: 34%;
    left: 17%;
  }
  .left-column {
    display: -webkit-inline-box;
    position: absolute;
    top: 23%;
    left: 17%;
  }

  .circular-button {
    width: 60px;
    height: 60px;
  }

  .button-icon {
    width: 30px;
    height: 30px;
  }
}

.devices {
  position: relative;
}

#addDevice {
  margin-bottom: 20px;
}

#devicePopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#devicePopup label {
  display: block;
  margin-bottom: 10px;
}

#devicePopup textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #bab9b9;
  border-radius: 3px;
  resize: vertical;
}


#cancel {
  background-color: red;
  color: white;
  display: inline-block;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  padding: 6px 12px;
  margin-right: 5px;
}

#submit {
  margin-top: 10px;
  padding: 6px 12px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


#devicePopup button:not(:last-child) {
  margin-right: 5px;
}

.card {
  width: 300px;
  float: left; /* Added to align cards side by side */
  background-color: #f1f1f1;
  border-radius: 10px;
 padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  margin: 20px;
  margin-top: 50px;
}

.device-name {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.room-name {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: #777777;
}