*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;  
  }
  
  body{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #19191a, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1c1d1e, #1d1f20); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 3rem;
  }

   .rooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 180px;
  
  }
 

  img{
    display: block;
    margin: 0;
    padding: 0;
  }


.room h2{
    margin-top: 22px;
    font-weight: 600;
   
}

.rooms {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 23px; 
}


.room {
  margin-bottom: -5px;
  text-align: center;
}

.room-title {
  color: #ffffff;
  right: 27%;
  position: relative;
  top: -62px; 
}


.room img{
  width: 400px;
  height: 55px;
}
 


.logout-container {
  display: flex;
  justify-content: flex-start;
}

.logout-btn {
  width: 300px;
  height: 55px;
  margin-left: 23px;
}

.logout-text {
    color: #9fe0f8;
    position: absolute;
    top: 78%;
    left: 4%;
    font-size: 23px;

}

.producer-image {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 580px;
  height: 502px;
}

@media (max-width: 768px) {
  .producer-image {
    top: 39%;
    left: 74%;
    width: 90%;
    height: auto;
    transform: translate(-50%, -50%);
  }
}

.producer-logo{
  position: absolute;
  top: 6%;
  left: 3%;
  width: 270px;
  height: 77px;
}

.column1 {
  position: absolute;
  right: 5%;
  top: 24%;
}

.column2{
  position: absolute;
  right: 18%;
  top: 16%;
}

.logo {
  width: 150px;
  height: 130px;
  margin-bottom: 50px;
}


.container {
  position: absolute;
  top: 0; 
  right: 0; 
  left: 0;
  bottom: 0;
  border: medium solid  rgb(116, 116, 116);;
  margin: 20px;
}