* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background: rgb(125,172,222);
  background: -webkit-linear-gradient(45deg, rgba(125,172,222,1) 0%, rgba(100,110,147,1) 37%, rgba(146,109,184,1) 74%, rgba(129,66,185,1) 86%, rgba(115,158,204,1) 100%);
  background: linear-gradient(45deg, rgba(125,172,222,1) 0%, rgba(100,110,147,1) 37%, rgba(146,109,184,1) 74%, rgba(129,66,185,1) 86%, rgba(115,158,204,1) 100%);
  z-index: 10;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
 min-height: 100vh;

}

.container {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  color: white;
  text-emphasis: none;
  margin-top: 2.5rem;
  margin-left: 3rem;
  font-size: 26px;
  letter-spacing: 1.4px;
  text-shadow: 0 4px 0 #0f0f0f7b;
}

h2 {
  color: rgba(255, 255, 255, 0.878);
  text-emphasis: none;
  margin-top: 1rem;
  margin-left: 3rem;
  font-size: 16px;
  letter-spacing: 1.4px;
  font-weight: normal;
}

.use {
  color: rgb(255, 255, 255);
}

.radio-group {
  display: flex;
  position: relative;
}

.radio-group label {
  margin-right: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: ease-in-out 0.4s;
  margin-left: 1.2rem;
  margin-top: 0.75rem;
}

.radio-group label input {
  display: none;
}

.radio-group label .icon {
  margin-right: 6px;
  font-size: 24px;
}

.h2 {
  position: fixed;
}

.icon i:hover {
  font-size: 28px;
  transition: ease-in 0.2s;
}

.profile-container {
  position: absolute;
  top: 20px;
  right: 18px;
  width: 45px;
  margin-right: 0.8rem;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #dad9d9;
  border: 0.1px solid #868686b3;
}
.bell-photo{
  position: absolute;
  top: 24px;
  right: 95px;
}

.profile-photo {
  width: 100%;
  height: 100%;
}

.usage-container {
  width: 650px; 
  height: 100%;
  padding: 15px; 
  margin-left: 20px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.usage {
  width: 100%;
  margin: 10px;
  padding: 15px;
  background-color: rgba(240, 240, 240, 0.858);
  border-radius: 5px;
}

.usage h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

canvas {
  width: 100% !important;
  height: 300px;
}

.title {
  margin-left: 3rem;
  font-size: 20px;
  font-weight: 800;
  color: #ffffff;
 margin-top: 2rem;
  margin-bottom: -0.5rem;
}

.rooms-container {
  display: flex;
  margin-left: 60px;
  margin-right: 30px;
  margin-top: 40px;
  gap: 30px;
  min-height: 50vh;
}

.room-card {
  width: 150px;
  height: 150px;
  padding: 15px ;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.29);
  text-align: center;
  cursor: pointer;
}

.room-card img {
  width: 70px;
  max-height: 70px;
  object-fit: fill;
  border-radius: 8px;
  margin-top: 5px;
}

.room-card h3 {
  font-size: 16px;
  margin: 0;
}

.room-card:hover {
  transition: 0.3s;
  font-weight: bolder;
  box-shadow: rgba(0, 0, 0, 0.526) 3.95px 8.95px 3.6px;
  transform: scale(1.1);
}