* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}


body {
  font-family: 'Ubuntu', sans-serif;
  background: -webkit-linear-gradient(45deg, rgba(125, 172, 222, 1) 0%, rgba(100, 110, 147, 1) 37%, rgba(146, 109, 184, 1) 74%, rgba(129, 66, 185, 1) 86%, rgba(115, 158, 204, 1) 100%);
  background: linear-gradient(45deg, rgba(125, 172, 222, 1) 0%, rgba(100, 110, 147, 1) 37%, rgba(146, 109, 184, 1) 74%, rgba(129, 66, 185, 1) 86%, rgba(115, 158, 204, 1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.box {
  background-color: #ffffffd5;
  border-radius: 10px;
  padding: 5px 10px;
  text-align: left;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.bathroom-image {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border: medium solid rgb(156, 217, 255);
  padding: 3.5px;
  position: absolute;
  top: 12%;
  left: 1.5%;
  width: 500px;
  height: 580px;
  object-fit: cover;
}

.box i {
  color: #000;
  font-size: 30px;
  margin-right: 10px;
}

.box h3 {
  color: #000;
  font-size: 16px;
  text-align: left;
  
  margin: 0;
}
.box.box-general-sensor {

  width: 250px;
  height: 50px;
}

.box.box-general-sensor i {
  margin-right: 10px;
}

.mb-auto {
  margin-bottom:auto;
}

.mt-2 {
  margin-top: 1rem;
}
.scale2 {
  scale: 1.6;
}

.flex-wrap {
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: wrap;
}

.box.box-general-sensor h3 {
  text-align: right;
}
.devices-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.box-device {
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffffd5;
  border-radius: 6px;
  height: 18vh;
  text-align: center;
  display: flex;
  align-items: center;
  
 
}

.box-device .card-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-device .card-header i {
  color: #000;
  font-size: 30px;
  margin-right: 10px;
}

.box-device h3 {
  color: #000;
  font-size: 16px;
  margin: 0;
}






.container {
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 16px;
  border: medium solid rgb(156, 217, 255);
}

.container section {
  width: 55%;
  height: 70vh;
  position: relative;
  left: 38%;
  display: grid;
  grid-template-areas: "General Consumption"
    "Devices Devices";
}

.container section>div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.general-sensors-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;
margin: 10px;
left: 3rem;
bottom: 3rem;


}

.producer {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 10px;
}
.devices-container {
  width: 100% !important;
  grid-area: Devices;
  display: flex;
  position: relative;
bottom: 2rem;

}

.concuption-container {
  grid-area: Consumption;
  margin-left: 10rem;
 bottom: 2.5rem;
 display: flex;
 position: relative;

}

.devices-container>.producer {
  flex-direction: row;
}

.living-image {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border: medium solid rgb(156, 217, 255);
  padding: 3.5px;
  position: absolute;
  top: 12%;
  left: 1%;
  width: 480px;
  height: 580px;
  object-fit: cover;
}
@media (max-width: 768px) {
  /* Styles for screens up to 768px wide (e.g., mobile devices) */
  .living-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
  }
}

h1 {
  color: white;
  text-align: center;
  text-emphasis: none;
  margin-top: 2rem;
  padding-bottom: 2rem;
  font-size: 30px;
  margin-left: 4rem;
  justify-content: center;
  letter-spacing: 1.4px;

}

.general {
  color: white;
  padding: 30px;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.3px;


}
.general-c{
  color: white;
  padding: 20px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1.3px;
  display: flex;
  position: relative;
  top: 1rem;
  margin-left: 11.5rem;
}

.devices-container .box-device {
  display: flex;
  width: 170px;
  gap: 20px;
}

.producer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}



.goBack {
  background-color: rgba(255, 255, 255, 0.885);
  display: flex;
  top: 15px;
  left: 20px;
  flex-direction: row;

  color: black;
  height: 40px;
  position: absolute;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.goBack>p {
  font-size: 14px;
  margin: auto;
  margin-right: 1.2rem;
}

.goBack>img {
  margin: auto;
  padding: 5px;
}

.usage-container {
  width: 400px; 
  height: 300px;
  position: relative;
  display: flex;
 margin-top:10px;
  margin-left: 80px;
  display: flex;
  gap: 20px;
  justify-content: center;

}

.usage {
  width: 100%;
  margin: 10px;
  padding: 15px;
  background-color: rgba(245, 245, 245, 0.916);
  border-radius: 5px;
}

.usage h2 {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
}

canvas {
  width: 100% !important;
  height: 400px;
}

