* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background: rgb(125,172,222);
  background: -webkit-linear-gradient(45deg, rgba(125,172,222,1) 0%, rgba(100,110,147,1) 37%, rgba(146,109,184,1) 74%, rgba(129,66,185,1) 86%, rgba(115,158,204,1) 100%);
  background: linear-gradient(130deg, rgba(79, 98, 141, 0.681) 0%, rgba(100,110,147,1) 37%, rgba(146,109,184,1) 60%, rgb(132, 86, 173) 86%, rgba(115,158,204,1) 100%);
  z-index: 10;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  min-height: max-content;
 

}
.goBack {
  background-color: rgba(255, 255, 255, 0.885);
  display: flex;
  top: 20px;
  left: 20px;
  flex-direction: row;
color: rgb(19, 19, 19);
  height: 35px;
  position: absolute;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.goBack>p {
  font-size: 14px;
  margin: auto;
  margin-right: 1.2rem;
}

.goBack>img {
  margin: auto;
  padding: 5px;
}
.water-btn>img{
  margin-right: 4px;
}
h1 {
  color: white;
  text-emphasis: none;
  margin-top: 2rem;
  text-align: center;
  font-size: 33px;
  letter-spacing: 1.4px;
  text-shadow: 0 4px 0 #0f0f0f7a;
}
.titleh{
  padding-bottom: 1rem;
  margin-left: 0rem;
  font-size: 26px;
  margin-top: 1.5vh;
  font-weight: 600;
  text-shadow: 0 2px 3px #0f0f0f55;
  color: #ffffff;
 letter-spacing: 2px;
 
}
.title{
  margin: auto;
 display: flex;
  float: right;
  font-weight: 600;
  margin-bottom: 26px;
  right: 0rem;
  position: relative;
   left: 6.5rem;
  text-shadow: 0 2px 3px #0f0f0f55;
  letter-spacing: 2px;
  font-size: 26px;
  color: #ffffff;

}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 3.5vw;
}

.environment-section {
  display: flex;
  flex-direction:column;
  gap: 30px;
  margin-top: 10px;
  top: 5rem;
  right: 7rem;
  padding: 15px;
  margin-left: 2.2vw;
  border-radius: 10px;
  
}

.environment-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 8px 24px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 220px;
}

.environment-card img {
  width: 55px;
  height: 55px;
  margin-right: 20px;
}

.environment-card h3 {
  font-size: 16px;
  font-weight: bold;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 12px;
  margin-top: -10px;
  
  text-align: right;

}

.environment-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(24, 24, 24, 0.295);
}

.environment-card p {
  font-size: 18px;
  margin-top: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
.environment-container{
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f5f589;
}

.environment-section {
  margin-right: 220px;
}


.statistics-container {
  display: flex;
  transform: translate(2.4vw, -25vh);
  flex-direction: column;
}
.statistics-section {
  background-color: rgba(255, 255, 255, 0.811);
  padding: 5px;
  height: 76vh;
  width: 350px;
  margin-left: 12.2rem;
  float: right;
  right: 0;
  border-radius: 10px;
}

.statistics-section h2 {
  margin-bottom: 10px;
}

.chart-container canvas {
  width: 90%;
  height: 101%;
  padding: 1px;
  background-color: #f5f5f517;
  border-radius: 10px;
  margin-top: 1.5rem;
 
}

.chart-container {
  min-height: 240px; /* İstediğiniz minimum yükseklik değeri */
  flex: 1;
}
.light-image{
  max-width: 78px;
  max-height: 125px;
}


.chart-options {
  align-self: flex-end;
  align-items:center;   
  display: flex;
  gap: 10px;
  padding-bottom: 5px;
  margin: 15px;
 right: 0;
 margin-left: 1rem;
  margin-top: 1.8rem;

}

.chart-btn {
  padding: 6px 16px;
  border: none;
  border-radius: 5px;
  background-color: #a0a0a0ad;
  color: #333;
  box-shadow: rgba(9, 30, 66, 0.282) 0px 4px 8px -2px, rgba(9, 30, 66, 0.205) 0px 0px 0px 1px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chart-btn.active {
  background-color: #709ad2;
 color: #fff;

}
#kwh{
  margin-top: 20px;
  font-size: 19px;
 
}
#cost{
  font-size: 20px;
  display: flex;
  position: relative;
  margin-top: -16px;
 
}
 


.card-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 4rem;
padding: 0, 12px;


}

.card {
 flex-basis: calc(20% - 10px);
padding: 10px 1px;
max-width: 160px;
margin-right: 5px;
margin-left: 5px;
 background-color: #ebebeb9a;
height: 26vh;
  border-radius: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  display: flex;
  position: relative;
  flex-direction: column;
}

.card-header {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.card-main {
  
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#electric-usage {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 10px;
}

#usage-chart {
 width: 175px;
  height: 88px;
  margin-top: 6px;
  position: relative;
  display: flex;
  left: 45px;
 
 
}


@media screen and (min-width: 768px) {
  .card {
    flex: 0 0 calc(50% - 10px);
  }
}
.image-container {
  display: flex;
  position: relative;
  bottom: 1rem;
   }

   .flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 3.5vw;
   }

   .devices-section {
    display: flex;
    margin-top: 6rem;
    flex-direction: column;
    position: relative;
    left: 2.8vw;
   
  }
  
  .device-card {
    width: 250px;
    height: 35vh;
    background-color: #ffffffe5;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.466);
    padding: 20px;
    margin-right: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  }
  .status-label {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 6px 14px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 20px;
  }
  
  .status-label.on {
    background-color: #2ecc71;
    color: #fff;
  }
  
  .status-label.off {
    background-color: #e74c3c;
    color: #fff;
  }
  
  .device-card:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  }
  
  .device-card .card-header {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
  }
  
  .device-card img {
    width: 160px;
    height: 130px;
    object-fit: cover;
    margin-bottom: 20px;
    margin-right: 60px;
  }
  .bottom-row {
    margin-top: 30px; /* İstenilen boşluk miktarını buradan ayarlayabilirsiniz */
    margin-bottom: 30px;
  }
  .lock-image{
    max-width: 140px; /* İstenilen maksimum genişliği buradan ayarlayabilirsiniz */
max-height: 160px; /* İstenilen maksimum yüksekliği buradan ayarlayabilirsiniz */
width: auto;
height: auto;
  }

  .device-card p {
    font-size: 15px;
    color: #555;
    margin-top: 16px;
    position: relative;
  }
  
  .device-card p:hover {
    color: #000000;
  }
  
  .device-card p:hover::before {
    background-color: #555;
  }

  .environment-card p{
    font-size: 18px;
    color: #494949;
    margin-top: 20px;
    margin-left: 6rem;
    position: absolute;
    display: flex;
    text-align: center;
  }

  #water-btn{
      background-color: rgba(37, 40, 49, 0.629);
color: #ffffff;
font-size: 14px;
font-weight: bold;
border-radius: 12px;
padding: 6px 18px;
margin-top: 6px;
cursor: pointer;
border: none;
font-weight: normal;
align-items: center;
display: flex;
position: absolute;
right: 0;
margin-right: 10px;
transition: background-color 0.3s;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.066);
  }

  #water-btn:hover {
    background-color: rgba(35, 38, 43, 0.474);
  box-shadow: 0 2px 5px #0f0f0f8e;
transition: 0.2s ease-in-out;

  }